aws_region="ap-south-1"
environment="staging"
eks_cluster_name="farmdirect-staging"
allow_aws_apply=true
node_instance_type="t3.small"
desired_nodes=2
min_nodes=2
max_nodes=2
enable_nat_gateway=true
create_database=false
create_secrets=false
database_password="CHANGE_ME"
jwt_secret="CHANGE_ME"
domain_name="farmdirect-staging.blacktunes.in"
route53_zone_id=""
create_acm_certificate=false
create_vpc_endpoints=false
enable_interface_endpoints=false
